<table class="w-max bg-dark-gray h-20 z-30">
  <tr class="overflow-x-scroll">
    <app-footer-button [text]="'NOTAMS'" [href]="'/notams'" />
    <app-footer-button [text]="'WEATHER'" [href]="'/weather'" />
    <app-footer-button [text]="'FREQUENCIES'" [href]="'/frequencies'" />
    <app-footer-button [text]="'MAPS / CHARTS'" [href]="'/charts'" />
    <app-footer-button [text]="'AIRPORT INFO'" [href]="'/info'" />
    <app-footer-button [text]="'DISABLED'" [href]="'/'" [disabled]="true" />
    <app-footer-button [text]="'DISABLED'" [href]="'/'" [disabled]="true" />
    <app-footer-button [text]="'DISABLED'" [href]="'/'" [disabled]="true" />
    <app-footer-button [text]="'DISABLED'" [href]="'/'" [disabled]="true" />
    <app-footer-button [text]="'DISABLED'" [href]="'/'" [disabled]="true" />
    <app-footer-button [text]="'DISABLED'" [href]="'/'" [disabled]="true" />
    <app-footer-button [text]="'DISABLED'" [href]="'/'" [disabled]="true" />
    <app-footer-button [text]="'DISABLED'" [href]="'/'" [disabled]="true" />
  </tr>
  <tr class="overflow-x-scroll h-10">
    <app-footer-button [text]="'MESSAGES'" [href]="'/messages'" />
    <app-footer-button [text]="'TRAFFIC MANAGEMENT'" [href]="'/tmu'" />
    <app-footer-button [text]="'SAA'" [href]="'/saa'" />
    <app-footer-button [text]="'ORDERS/SOP'" [href]="'/sop'" />
    <app-footer-button [text]="'ICAO CODES'" [href]="'/icao'" />
    <app-footer-button [text]="'DISABLED'" [href]="'/'" [disabled]="true" />
    <app-footer-button [text]="'DISABLED'" [href]="'/'" [disabled]="true" />
    <app-footer-button [text]="'DISABLED'" [href]="'/'" [disabled]="true" />
    <app-footer-button [text]="'DISABLED'" [href]="'/'" [disabled]="true" />
    <app-footer-button [text]="'DISABLED'" [href]="'/'" [disabled]="true" />
    <app-footer-button [text]="'DISABLED'" [href]="'/'" [disabled]="true" />
    <app-footer-button [text]="'DISABLED'" [href]="'/'" [disabled]="true" />
    <app-footer-button [text]="'DISABLED'" [href]="'/'" [disabled]="true" />
  </tr>
</table>
