<app-context-layout [title]="'Airport Info'">
    <div class="p-2">
        @if ((params | async) != null) {
            <h2 class="mb-2">{{(params | async)!['airportId']}}</h2>
        }
        

        <div class="flex flex-wrap">
            <div class="grid-container">
                <h4 class="mb-2 border-b-1 border-gray-500">General Info</h4>

                <ul>
                    <app-line [title]="'ICAO'">some bs here</app-line>
                    <app-line [title]="'IATA'">MCO</app-line>
                    <app-line [title]="'Location'">Orlando, FL</app-line>
                </ul>
            </div>
        </div>
    </div>
</app-context-layout>