/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
    --color-accent: #0249C6;
    --color-gray: #404040;
    --color-light-gray: #202020;
    --color-mid-gray: #141414;
    --color-dark-gray: #101010;
    --font-inter: "Inter", sans-serif
}

@layer base {
    html {
        color-scheme: dark;
        @include mat.theme((
          color: mat.$violet-palette,
          typography: Inter,
          density: 0
        ));
      }

    h1, h2, h3, h4, h5, h6, p, a, button, label, input {
        @apply font-inter text-white
    }

    h1 {
        @apply font-bold text-3xl
    }

    h2 {
        @apply text-2xl
    }

    h3 {
        @apply text-xl
    }

    h4 {
        @apply text-lg
    }

    h5 {
        @apply text-sm
    }

    h6 {
        @apply text-xs font-light
    }

    p {
        @apply text-[12px]
    }

    ::-webkit-scrollbar {
        background-color: #101010;
    }

    ::-webkit-scrollbar-track {
        background-color: #141414;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

@layer components {
    .navbar {
        @apply sticky w-screen h-max p-2 bg-mid-gray
    }

    .home-container {
        @apply bg-light-gray h-screen absolute right-0 flex flex-col justify-center items-center px-10 gap-y-5
    }

    .home-button {
        @apply bg-light-gray py-1 transition text-center hover:bg-accent w-full
    }

    .approach-box {
        @apply bg-accent px-1 w-max drop-shadow-lg drop-shadow-black
    }

    .subdivider {
        @apply w-full bg-light-gray
    }
}
