<div class='absolute top-0 w-screen h-screen overflow-hidden'>
    <img class='absolute top-0 left-0 -z-10 object-center overflow-hidden blur-sm' src='/assets/background.jpg' alt="site background"/>

    
    <div class="home-container">
        <div class="bg-dark-gray flex flex-col h-max justify-center p-5 gap-y-5">
            <div>
                <h2 class="font-bold w-full text-center">vE-IDS</h2>
                <h4>Virtual Enterprise Information Display System</h4>
            </div>

            <div class="flex flex-col gap-y-2">
                <a class="home-button" routerLink="/login">Sign in with VATSIM</a>
                <a class="home-button" routerLink="/ids">IDS</a>
            </div>
        </div>  
    </div>

</div>